form.signup,
form.login {
  margin-top: 50px;
}

body { 
  padding-top: 70px;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
}

.navbar-default {
  border-color: lightblue
}

.jumbotron {   
  border: 1px solid lightblue;
  border-radius: 4px;
  
}

.thumbnail img {
  width:300px;
  height:200px; 
  /* padding-top: 25px; */
}

.thumbnail {  
  border: 1px solid lightblue;
  border-radius: 4px;
}

.thumbnail h3, p {
  text-align: center;
}
#vitals-form {
  text-align: center
}

div.input-group {
  display: flex ;
  /* flex-direction: row; */
  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
  /* margin: auto; */
  padding-bottom: 5px;
  /* width: 75px; */
}
.input-group .form-control { 
  width: 75px;
  margin-left: 5px;
  margin-right: 5px;
}

p.input-group {
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

div.container-fluid{
  display: flex;  
  flex-direction: row;  
}

div.vital-content h4 {
  text-align: center;
}

.nav-btn {
  margin-left: auto;
}

button, .btn {
  background-color: #ff3bb7;
  border-radius: 10px;
  padding: 5px;
  color: white;
}




h4 {
  color: #ff3bb7
}

/* .navbar-fixed-top {
  margin: 0;
  padding: 0;
  border-width: 0;
} */

.nav-tabs>li>a {
  color: #ff3bb7;
  background-color: white;
}

/* .container-fluid {
  width: 100%;
  padding: 0px;
} */

.nav-tabs>li.active>a {
  color: white;
  background-color: #ff3bb7;
}

.row {
  margin-left: 0px;
  margin-right: 0px
}

.fas {
  color: #ff3bb7
}
.navbar {
  border-width: 0px,1px,2px,1px;
  }